html, body {
    font-size: 1rem;
    padding: 0px;
    margin: 0px;
}

header {
    background-color: black;
    color: white;
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav {
    padding-right: 1rem;
}

.nav-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
  }
  
  .nav-item{
    padding: 0.5rem;
    color: white;
  }

  li a {
      color: white;
      text-decoration: none;
  }

.nav-header {
    float: left;
    padding-left: 1rem;
}

main {
    width: 80%;
    padding-top: 100px;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.5);
}

.home-description {
    padding: 10px;
    margin: 0px;
}

